footer {
    background-color: black;  /* halkaan ka badal background */
    color: white;             /* halkaan ka badal qoraalka */
}
body {
    background-color: #222;   /* madow jilicsan */
    color: #fff;              /* qoraal cad */
}